<div class="row">
            <section class="col-12" id="process">
                <h2>Process</h2>
                <p><span class="lead">User experience is a fancy way of talking about the issues users run into when interacting when a piece of software.</span> This could be anything ranging from 
                difficulty in using a particular website because of poorly developed accessibility features, preventing someone with limited sight from being able to accomplish their goals, picking the right colors to make sure content is clearly visible, or even spending a good few hours discussing what text should go in that shiny new button. All of these come together to create an enriching experience for the user (see what I did there?), and it's my job to get us there.</p>

                <p>Generally, my process can be broken down into a few steps: <small><em>(click any of these to jump to their section)</em></small></p>
                <ol>
                    <a ng-click="skipLink('process1')"><li>Understanding the problem</li></a>
                    <a ng-click="skipLink('process2')"><li>Exploring solutions</li></a>
                    <a ng-click="skipLink('process3')"><li>Focusing in on the right solution</li></a>
                </ol>
            </section>
            <section class="process-part col-12" id="process1">
                <h3>Understanding</h3>
                <p>
                    <span class="lead">This is definitely the most important part of the process, and always the first step to any project.</span class="lead"> It's important for everyone to be on the same page as to what the
                    actual problem that needs solving <em>is</em>. For example, not considering how users work through their steps can cause unforseen bottlenecks. <a href="https://articles.uie.com/three_hund_million_button/" >Simple UX fixes can be responsible for huge revenue growth</a> by simply making it easier to purchase a product.
                    Revenue aside, we want our users to be happy and return to use our site or software again, that's why we built it in the first place!
                </p>
                <p>
                    One technique commonly used is a user persona. These allow you to empathize with a user; you create a real person who would use your application. Think about who this person is:
                </p>
                <ul>
                    <li>how old are they?</li>
                    <li>what kind of devices do they have access to?</li>
                    <li>what level of education do they have?</li>
                    <li>are they using any assistive technology?</li>
                </ul> 
                <p>
                    These are just a few things to consider when creating a user persona. In addition to these questions, you have to answer all of the personal details about this person as well: their name, job, hobbies, interests. All of this builds a bigger picture
                    of who exactly your users are.
                </p>
                <p>
                    Steps like these often seem extraneous, but as a designer, it answers a lot of questions and sets a good benchmark as to how to approach a user. For example, a recent project I worked on called for a management tool for elderly users to manage their in-home care, and also allow their guardians or representatives to create accounts to help
                    manage these tasks. Using personas, we were able to quickly point back to specific "users" from our personas when making design decisions in the next step of the process: exploring possible solutions.
                </p>

            </section>
            <section class="process-part col-12" id="process2">
                <h3>Exploring</h3>
                <p>
                    <span class="lead">Often times this starts in a notebook, a whiteboard, or on a scrap piece of paper.</span> Let's continue using my previous project as an example.
                    We had been asked to redesign a system to make it more usable after we found our initial design didn't quite cut it for our userbase. The users in a test group found the first design, which was packed with graphs and charts, too complex. My team discussed what the issues were after our test session. We felt
                     we should go back to the drawing board and simplify the enitire application to make sure the focus was on the users and not the system administrators. We decided to model our new design off of something
                    familiar to almost anyone: an ATM. 
                </p>
                <div class="row">
                    <div class="col-6"><img alt="Sketch #1 of design idea for previous project depicting a user interface and some notes." class="img-fluid img-thumbnail" ng-src="{{images[0]}}"></div>
                    <div class="col-6"><img alt="Sketch #2 of design idea for previous project depicting an earlier version of the previous design in a mobile size." class="img-fluid img-thumbnail" ng-src="{{images[1]}}"></div>
                </div>
                <p>
                    This design proved to be a hit with the client and we moved forward with our development process. We incorporated some of the design elements from our previous round, but it was largely a new application with a focus on explaining to the user what their actions would do <em>before</em> they committed to them.
                </p>
            </section>
            <section class="process-part col-12" id="process3">
                <h3>Focusing</h3>
                <p>
                    <span class='lead'>At this point, I like to move from mockups into actual code,</span class='lead'> as it makes the transition from design to actual development a little easier later down the road, and also allows for higher fidelity mockups to the client. This means their choices on things like color,
                    font size, and layout are more meaningful, and will be more accurately recreated once the developers get their hands on it.
                </p>
                <div class="row">
                    <div class="col-12"><img ng-src="{{images[2]}}" alt="A screenshot of the homepage of the completed design presented prior to this image." class="img-fluid img-thumbnail"></div>
                </div>
                <p>
                    This is where my front end development skills come in handy. I was able to rapidly prototype a functional design, and iterate on this with the client, reaching the exact solution we needed. The system is currently under development, and will be released later in 2017. For a look at the design prototype, please contact me.
                </p>
            </section>
        </div>